# Configuration Files
.vscode/

# Compiled Binaries
*.exe
*.out
spaceInvaders
main

# CMake Cache and More Binaries
build/
_deps/
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

#temp 
temp.cpp
temp
GEMINI.md

# toAddLater/     # putting the cmake stuff here fn since they disturbing me :>
# build.bat       # aap distaab hogaye? acha saeen
# build.sh
# CMakeLists.txt